/* About QSlider graphics rendering */
QPushButton {
    background-color: lightgrey;
    font-size: 10px;
    font-style: italic;
    font-weight: normal
}

QPushButton:pressed,
QPushButton:checked  {
    background-color: lightblue;
    color: black;
    font-style: normal;
    font-weight: bold
}

QPushButton:disabled {
    background-color: #E2E2E2;
    color: #737373;
    border-width: 1px;
    border-color: #C7C7C7
}

QPushButton[text="Start"] {
    /* background-color: #C9F47C */
    background-color: #1CC88A;
    font-size: 11px;
    font-weight: bold 
}

QPushButton[text="Stop"] {
    font-size: 11px;
    font-weight: bold
}

QPushButton[text="Delete All"]:checked,
QPushButton[text="Delete Current"]:checked {
    background-color: #FFA500
}

/* About QSlider graphics rendering */
QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 2px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #B1B1B1, stop:1 white);
    margin: 2px 0
}

QSlider::handle:horizontal {
    background: #3399ff;
    border: 1px solid #5c5c5c;
    border-radius: 4px;
    margin: -8px 0;
    width: 20px
}

QSlider::sub-page:horizontal {
    border: 1px solid #5c5c5c;
    height: 3px;
    background: #76BAFF;
    margin: 2px 0
}

/* About QLabel graphics rendering */
QLabel {
    background-color: lightgrey;
    color: black;   
    font-style: normal;
    font-weight: normal;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2px
}

QLabel[objectName="slider_Label"] {
     background-color: lightgrey;
     color: black;     
     font-weight: bold
}

QLabel[objectName="label_2016_class"] {
    background-color: none;
    color: black;
    font-size: 11px;
    font-style: italic;
    border: none;
    width:20px;
}

QLabel[objectName="label_2019_class"] {
    background-color: none;
    color: black;
    font-size: 11px;
    font-style: italic;
    border: none;
    width:20px;
}

QLabel[objectName="label_nomenclature"],
QLabel[objectName="label_selection"],
QLabel[objectName="label_vintage"],
QLabel[objectName^="labelSeparator_"],
QLabel[objectName^="label_opacity_"] {
    background-color: none;
    border: none;
    color: none
}

QLabel[objectName="labelValue_CurrentColor"] {
    background-color: none;
    color: none;
    border-radius: none;
}

QGroupBox[objectName="infoSelectionGroup"],
QGroupBox[objectName="sliderGroup"],
QGroupBox[objectName="stdDiffModeGroup"]{
    background-color: none;
    border: none
}
    
/* About QMessageBox graphics rendering */
QMessageBox QLabel {
    font-weight: bold
}

QgsMapCanvas {
    border: 1px solid grey;
    border-radius: 4px;
    padding:2px
}

QgsMapCanvas:focus {
    border: 3px solid #FFC829;
    border-radius: 4px;
    padding:2px
}

QTreeWidget {
    color: rgb(0, 0, 0);
    selection-background-color: transparent;
    show-decoration-selected: 1;    
}

QTreeView {
    show-decoration-selected: 1
}

QTreeWidget::item:hover,
QTreeWidget::item:hover:selected:active {
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 128, 220)
 }

QTreeWidget::item:selected,
QTreeWidget::item:selected:active,
QTreeWidget::item:selected:!active {
    color: rgb(255, 255, 255);
    background-color: rgb(12, 128, 220)
}